DB_USERNAME=root
DB_PASSWORD=200505
JWT_SECRET=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJtdXRodXJhamtvbWJhbjVAZ21haWwuY29tIiwiaWF0IjoxNzg5ODM2NTc1LCJleHAiOjE3ODk5MjI5NzV9.S-Lnjl--5X-QjMPp4xqwGMTzjyA3xvH4gyxflsNOz5rFhWs2uJAqAWQCh9_OgIgM3k9maut0RLP89Na30r6Yag
AI_SERVICE_URL=http://localhost:8000
